
.notification-card { 
          
    min-width: 300px;   
    position: absolute;
    right:0;
    height:100%;
  }
  .notification-list-ul{
      padding: 0%;
  }
  .notification-list-li{
    list-style:none;
    border-bottom: solid .7px;
    border-color: rgb(228, 225, 225);
    padding-top:30px;
    padding-bottom:10px; 
    margin-left: 0%; 
  }
  @media screen and (max-width: 900px) {
    .notification-card { 

      min-width: 250px;
    }
}
  @media screen and (max-width: 800px) {
    .notification-card { 

      min-width: 200px;
    }
}
    @media screen and (max-width: 500px) {
        .notification-card { 
          width: 100%;
        }
    }

    
